@model ProductVM
<style>
    .input-container {
        display: none;
        margin: 20px 0;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        position: relative;
    }

    .input-field {
        display: block;
        width: 50%;
        padding: 5px;
        margin-top: 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .submit-btn {
        position: absolute;
        top: 60%;
        right: 40%;
        transform: translate(0, -50%);
        padding: 5px 10px;
        font-size: 16px;
        border: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
    }

</style>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-info bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Product.Id != 0 ? "Cập nhật" : "Tạo mới") Sản phẩm</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        @if (Model.Product.Id != 0)
        {
            <button id="show-input-btn" type="button" class="btn btn-rounded btn-warning">Thêm cỡ</button>
            <a asp-controller="Product" asp-action="ProductSize" asp-route-productId="@Model.Product.Id" class="btn btn-rounded btn-warning">
                Sửa cỡ
            </a>
            <div id="input-div" class="input-container">
                <form id="input-form">
                    <label for="input-field-1">Nhập cỡ:</label>
                    <input type="text" id="input-field-1" class="input-field">
                    <label for="input-field-2">Nhập số lượng:</label>
                    <input type="text" id="input-field-2" class="input-field">
                    <button type="submit" id="submit-btn" class="submit-btn">Submit</button>
                </form>
            </div>
            
        }
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.Name" class="ms-2"></label>
                            <input asp-for="Product.Name" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Product.Description" class="ms-2 text-muted"></label>
                            <textarea asp-for="Product.Description" class="form-control border-0 shadow"></textarea>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.Brand" class="ms-2"></label>
                            <input asp-for="Product.Brand" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Brand" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.ListPrice" class="ms-2"></label>
                            <input asp-for="Product.ListPrice" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.Price" class="ms-2"></label>
                            <input asp-for="Product.Price" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for=Product.SalePrice class="ms-2"></label>
                            <input asp-for="Product.SalePrice" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.SalePrice" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for=Product.CategoryId class="ms-2"></label><br />
                            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.ProductImages" class="ms-2"></label>
                            <input type="file" name="files" class="form-control border-0 shadow" multiple />
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 col-md-3">
                                @if (Model.Product.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Cập nhật</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Tạo mới</button>
                                }

                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control">
                                    Trở lại danh sách
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    @if (Model.Product.ProductImages != null)
                    {
                        foreach (var image in Model.Product.ProductImages)
                        {
                            <div class="border p-1 m-2 text-center">
                                <img src="@image.ImageUrl" width="100%"
                                     style="border-radius:5px; border:1px solid #bbb9b9" />
                                <a asp-action="DeleteImage" class="btn btn-danger" asp-route-imageId="@image.Id">
                                    <i class="bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>

        </form>
    </div>
</div>


@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog typography | align lineheight | checklist numlist bullist indent outdent ',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ]
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('#show-input-btn').click(function () {
                $('#input-div').toggle();
                if ($('#input-div').is(':visible')) {
                }
            });

            $('#input-form').submit(function (e) {
                e.preventDefault(); // prevent default form submission behavior
                var data = {
                    productId: @Model.Product.Id,
                    sizeName: $('#input-field-1').val(),
                    amount: $('#input-field-2').val()
                };
                if (data.sizeName && data.amount) {
                    $.ajax({
                        type: 'POST',
                        url: "/Admin/Product/AddSizeAmount",
                        data: data,
                        success: function (response) {
                            alert("Thêm thành công");
                            $('#input-field-1').val('');
                            $('#input-field-2').val('');
                        },
                        error: function (error) {
                            console.log(error); // handle error response from backend
                        }
                    });
                } else {
                    alert("Chưa điền đủ thông tin!"); // display error message
                }
            });
        });
    </script>
}