@page
@model LoginModel

<div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section" style="background-color:black">Login</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
            <h3 class="mb-4 text-center">Have an account?</h3>
            <form id="account" method="post" class="signin-form">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="login-submit" type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                </div>
                <div class="form-group d-md-flex">

                    <div class="w-50">
                        <label class="checkbox-wrap checkbox-primary">
                            Remember Me
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="w-50 text-md-right">
                        <a id="forgot-password" asp-page="./ForgotPassword" style="color: #fff">Forgot Password</a>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        @*<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>*@
                    </div>
                </div>
            </form>
            <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
            <div class="social d-flex text-center">
                <a onclick="loginByFB()" href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
                <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
            </div>
        </div>
    </div>
</div>
<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" hidden>
    <div>
        <p>
            @foreach (var provider in Model.ExternalLogins!)
            {
                    <button id="loginFb" type="submit" class="btn btn-social-icon-text" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="mdi mdi-facebook"></i>@provider.DisplayName</button>
            }
        </p>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function loginByFB(){
            document.getElementById("loginFb").click();
        }
    </script>
}
