@page
@model RegisterModel


<div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
        @if (User.IsInRole(SD.Role_Admin))
        {
            <h2 class="heading-section" style="background-color:black">Register - ADMIN PORTAL</h2>
        }
        else
        {
            <h2 class="heading-section">Register</h2>
        }

    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-12 col-lg-12">
        <div class="login-wrap p-0">
            <form id="registerForm" method="post" asp-route-returnUrl="@Model.ReturnUrl" class="signin-form">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="row">
                    <div class="form-group form-floating mb-3 col-md-12">
                        <label asp-for="Input.Email" class="ms-2">Email</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-floating mb-3 col-md-6">
                        <label asp-for="Input.Name" class="ms-2">Name</label>
                        <input asp-for="Input.Name" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group form-floating mb-3 col-md-6">
                        <label asp-for="Input.PhoneNumber" class="ms-2">PhoneNumber</label>
                        <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-floating mb-3 col-md-6">
                        <label asp-for="Input.Password" class="ms-2">Password</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-floating mb-3 col-md-6">
                        <label asp-for="Input.ConfirmPassword" class="ms-2">Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                @if (User.IsInRole(SD.Role_Admin))
                {
                    <div class="form-floating mb-3 col-md-6">
                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                            <option disabled selected>--Select Role--</option>
                        </select>
                    </div>
                }

                <div class="form-group">
                    <button id="registerSubmit" type="submit" class="form-control btn btn-primary submit px-3">Register</button>
                </div>
            </form>
            @if (!User.IsInRole(SD.Role_Admin))
            {
                <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
                <div class="social d-flex text-center">
                    <a onclick="loginByFB()" href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
                    <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Google</a>
                </div>
            }
        </div>
    </div>
</div>

<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal" hidden>
    <div>
        <p>
            @foreach (var provider in Model.ExternalLogins!)
            {
                <button id="loginFb" type="submit" class="btn btn-social-icon-text" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="mdi mdi-facebook"></i>@provider.DisplayName</button>
            }
        </p>
    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function loginByFB() {
            document.getElementById("loginFb").click();
        }
    </script>
}
