@model ShoppingCartVM

<form method="post">
    <br />
    <div class="container">
        <div class="card shadow border-0">

            <div class="card-header bg-info bg-gradient text-light ml-0 py-4">
                <div class="row px-4">
                    <div class="col-6">
                        <h5 class="pt-2 text-white">
                            Shopping Cart
                        </h5>
                    </div>
                    <div class="col-6 text-end text-right">
                        <a asp-action="Index" class="btn btn-outline-secondary bg-gradient btn-sm text-uppercase">Back to Cart</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Chi tiết vận chuyển:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Name" class="form-control" />
                                    <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Phone</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PhoneNumber" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Province</label>
                                </div>
                                <div class="col-9">
                                    <input id="iprovince" asp-for="OrderHeader.Province" class="form-control" hidden />
                                    <select id="province" class="form-select border-0 shadow">
                                    </select>
                                    <span asp-validation-for="OrderHeader.Province" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1" id="divDistrict" style="display:none">
                                <div class="col-3">
                                    <label>District</label>
                                </div>
                                <div class="col-9">
                                    <input id="idistrict" asp-for="OrderHeader.District" class="form-control" hidden />
                                    <select id="district" class="form-select border-0 shadow">
                                    </select>
                                    <span asp-validation-for="OrderHeader.District" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1" id="divWard" style="display:none">
                                <div class="col-3">
                                    <label>Ward</label>
                                </div>
                                <div class="col-9">
                                    <input id="iward" asp-for="OrderHeader.Ward" class="form-control" hidden />
                                    <select id="ward" class="form-select border-0 shadow">
                                    </select>
                                    <span asp-validation-for="OrderHeader.Ward" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Address</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Address" class="form-control" />
                                    <span asp-validation-for="OrderHeader.Address" class="text-danger"></span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <div>
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Tóm tắt hóa đơn:</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    @foreach (var details in Model.ShoppingCartList)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <h6 class="my-0 ">@details.Product.Name</h6>
                                                <small class="text-muted">Quantity: @details.Count</small>
                                            </div>
                                            <span class="text-muted">@((details.Price * details.Count).ToString("C0", new System.Globalization.CultureInfo("vi-VN")).Replace(" ", ""))</span>
                                        </li>
                                    }

                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <small class="text-info">Tổng </small>
                                        <strong class="text-info">@Model.OrderHeader.OrderTotal.ToString("C0", new System.Globalization.CultureInfo("vi-VN")).Replace(" ", "")</strong>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="justify-content-between " />
                                <span class="text-info">Payment method:</span>
                                <div class="radio-container" aria-label="Basic radio toggle button group">
                                    <div>
                                        <input type="radio" class="btn-check" name="payMethod" id="btnradio1" value="vnpay" autocomplete="off">
                                        <label class="w-100 btn btn-outline-primary" for="btnradio1"><img src="/images/pttt/vnpay.svg" />Cổng thanh toán VNPay</label>
                                    </div>
                                    <div>
                                        <input type="radio" class="btn-check" name="payMethod" id="btnradio2" value="cod" autocomplete="off">
                                        <label class="w-100 btn btn-outline-primary" for="btnradio2"><img src="/images/pttt/cod.png" width="64px" />Thanh toán khi nhận hàng</label>
                                    </div>
                                    <input id="paymentMethod" asp-for="OrderHeader.PaymentMethod" hidden class="form-control" />
                                </div>
                            </div>
                            <span asp-validation-for="OrderHeader.PaymentMethod" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                        <p style="color:maroon; font-size:14px;">
                            Estimate Arrival Date:
                            @DateTime.Now.AddDays(3).ToShortDateString() - @DateTime.Now.AddDays(5).ToShortDateString()
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <button type="submit" value="Place Order" class="btn btn-primary form-control">Đặt hàng</button>
                        <span>9704198526191432198</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/summary.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $.ajax({
                url: 'https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/province',
                type: 'GET',
                headers: {
                    'token': 'ac622677-de94-11ed-ab31-3eeb4194879e'
                },
                dataType: 'json',
                success: function (data) {
                    data = data.data;
                    // Loop through the data and create option elements for each item
                    for (var i = 0; i < data.length; i++) {
                        var option = $('<option>');
                        option.val(data[i].ProvinceID);
                        option.text(data[i].ProvinceName);
                        $('#province').append(option);
                    }
                }
            });



            $('#province').on('change', function () {
                $("#iprovince").val($("#province option:selected").text());
                var selectedProvince = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: 'https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/district',
                    headers: {
                        'token': 'ac622677-de94-11ed-ab31-3eeb4194879e'
                    },
                    data: { province_id: selectedProvince },
                    success: function (response) {
                        $('#divDistrict').show();
                        data = response.data;
                        for (var i = 0; i < data.length; i++) {
                            var option = $('<option>');
                            option.val(data[i].DistrictID);
                            option.text(data[i].DistrictName);
                            $('#district').append(option);
                        }
                    },
                    error: function (xhr, status, error) {
                        // handle error response
                    }
                });
            });
            $('#district').on('change', function () {
                $("#idistrict").val($("#district option:selected").text());
                var selectedProvince = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: 'https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/ward',
                    headers: {
                        'token': 'ac622677-de94-11ed-ab31-3eeb4194879e'
                    },
                    data: { district_id: selectedProvince },
                    success: function (response) {
                        $('#divWard').show();
                        data = response.data;
                        for (var i = 0; i < data.length; i++) {
                            var option = $('<option>');
                            option.val(data[i].WardID);
                            option.text(data[i].WardName);
                            $('#ward').append(option);
                        }
                    },
                    error: function (xhr, status, error) {
                        // handle error response
                    }
                });
            });

            $('#ward').on('change', function () {
                $("#iward").val($("#ward option:selected").text());
            });
        });
    </script>
}